In [53]:
import pandas as pd
import requests
import datetime

In [13]:
sites_response = requests.get("http://api.erg.kcl.ac.uk/AirQuality/Information/MonitoringSites/GroupName=London/Json")

In [39]:
unfiltered_sites = pd.DataFrame(sites_response.json()['Sites']['Site'])
unfiltered_sites.head()

,@LocalAuthorityCode,@LocalAuthorityName,@SiteCode,@SiteName,@SiteType,@DateClosed,@DateOpened,@Latitude,@Longitude,@LatitudeWGS84,@LongitudeWGS84,@DisplayOffsetX,@DisplayOffsetY,@DataOwner,@DataManager,@SiteLink
0,27,Richmond,TD0,"- National Physical Laboratory, Teddington",Suburban,2018-01-01 00:00:00,1996-08-08 00:00:00,51.4243043441456,-0.345714576446947,6696103.27675,-37808.8858115,0,-200,Richmond,King's College London,http://www.londonair.org.uk/london/asp/publicd...
1,1,Barking and Dagenham,BG3,Barking and Dagenham - North Street,Kerbside,2011-05-25 00:00:00,2007-03-16 00:00:00,51.540444,0.074418,6717454.5833,8284.17386585,0,0,Barking and Dagenham,King's College London,http://www.londonair.org.uk/london/asp/publicd...
2,1,Barking and Dagenham,BG1,Barking and Dagenham - Rush Green,Suburban,,1999-11-02 00:00:00,51.563752,0.177891,6721627.34498,19802.7355367,0,0,Barking and Dagenham,King's College London,http://www.londonair.org.uk/london/asp/publicd...
3,1,Barking and Dagenham,BG2,Barking and Dagenham - Scrattons Farm,Suburban,,1999-10-17 00:00:00,51.529389,0.132857,6715476.18683,14789.5735883,0,0,Barking and Dagenham,King's College London,http://www.londonair.org.uk/london/asp/publicd...
4,2,Barnet,BN2,Barnet - Finchley,Urban Background,2012-04-20 00:00:00,2000-08-09 13:00:00,51.591901,-0.205992,6726669.62886,-22930.9245475,0,0,Barnet,King's College London,http://www.londonair.org.uk/london/asp/publicd...

In [62]:
sites = unfiltered_sites.filter(["@LocalAuthorityName", "@SiteCode", "@SiteName", "@SiteType", "@DateClosed", "@DateOpened", "@Latitude", "@Longitude"])
sites = sites.rename(columns={"@LocalAuthorityName":"BoroughName", "@SiteCode":"SiteCode", "@SiteName":"SiteName", "@SiteType":"SiteType", "@DateClosed":"DateClosed", "@DateOpened":"DateOpened", "@Latitude":"Latitude", "@Longitude":"Longitude"})
sites.head()

,BoroughName,SiteCode,SiteName,SiteType,DateClosed,DateOpened,Latitude,Longitude
0,Richmond,TD0,"- National Physical Laboratory, Teddington",Suburban,2018-01-01 00:00:00,1996-08-08 00:00:00,51.4243043441456,-0.345714576446947
1,Barking and Dagenham,BG3,Barking and Dagenham - North Street,Kerbside,2011-05-25 00:00:00,2007-03-16 00:00:00,51.540444,0.074418
2,Barking and Dagenham,BG1,Barking and Dagenham - Rush Green,Suburban,,1999-11-02 00:00:00,51.563752,0.177891
3,Barking and Dagenham,BG2,Barking and Dagenham - Scrattons Farm,Suburban,,1999-10-17 00:00:00,51.529389,0.132857
4,Barnet,BN2,Barnet - Finchley,Urban Background,2012-04-20 00:00:00,2000-08-09 13:00:00,51.591901,-0.205992

In [74]:
sites['DateClosed'] =  pd.to_datetime(sites['DateClosed'], format='%Y-%m-%d %H:%M:%S')
sites['DateOpened'] =  pd.to_datetime(sites['DateOpened'], format='%Y-%m-%d %H:%M:%S')

In [81]:
date_mask = ((pd.isnull(sites['DateClosed'])) | (sites['DateClosed'] > datetime.datetime(2012, 12, 31))) & (sites['DateOpened'] < datetime.datetime(2012, 1, 1))
filtered_sites = sites[date_mask]
filtered_sites

,BoroughName,SiteCode,SiteName,SiteType,DateClosed,DateOpened,Latitude,Longitude
0,Richmond,TD0,"- National Physical Laboratory, Teddington",Suburban,2018-01-01,1996-08-08 00:00:00,51.4243043441456,-0.345714576446947
2,Barking and Dagenham,BG1,Barking and Dagenham - Rush Green,Suburban,NaT,1999-11-02 00:00:00,51.563752,0.177891
3,Barking and Dagenham,BG2,Barking and Dagenham - Scrattons Farm,Suburban,NaT,1999-10-17 00:00:00,51.529389,0.132857
8,Bexley,BX2,Bexley - Belvedere,Suburban,NaT,1998-01-24 15:00:00,51.4906102082147,0.158914493927518
9,Bexley,BX0,Bexley - Belvedere FDMS,Suburban,NaT,2004-04-28 00:00:00,51.4906102082147,0.158914493927518
...,...,...,...,...,...,...,...,...
218,Westminster,WM5,Westminster - Covent Garden,Urban Background,NaT,2009-07-10 00:00:00,51.5119769825798,-0.12162720332856
221,Westminster,WM0,Westminster - Horseferry Road,Urban Background,NaT,2001-07-17 00:00:00,51.494681,-0.131938
222,Westminster,MY1,Westminster - Marylebone Road,Kerbside,NaT,1997-05-26 12:00:00,51.52254,-0.15459
223,Westminster,MY7,Westminster - Marylebone Road FDMS,Kerbside,NaT,2004-01-22 12:00:00,51.52254,-0.15459
224,Westminster,WM6,Westminster - Oxford Street,Kerbside,NaT,2011-01-01 00:00:00,51.5139287404213,-0.152792701881935

In [150]:
latDict = pd.Series(filtered_sites['Latitude'].values ,index=filtered_sites['SiteCode']).to_dict()
lonDict = pd.Series(filtered_sites['Longitude'].values ,index=filtered_sites['SiteCode']).to_dict()
latDict, lonDict

({'TD0': '51.4243043441456',
  'BG1': '51.563752',
  'BG2': '51.529389',
  'BX2': '51.4906102082147',
  'BX0': '51.4906102082147',
  'BQ7': '51.4946486813055',
  'BQ8': '51.4946486813055',
  'BX4': '51.477670796298',
  'BQ6': '51.477670796298',
  'BQ5': '51.4781935083933',
  'BX1': '51.4659832746662',
  'BX9': '51.4659832746662',
  'BX3': '51.510808',
  'BT4': '51.552476',
  'BT6': '51.537799',
  'BT5': '51.552656',
  'BY7': '51.405546',
  'BL0': '51.522287',
  'KX4': '51.533238',
  'CD9': '51.527975',
  'CD3': '51.515532',
  'CD1': '51.544219',
  'CT4': '51.520225273171',
  'CT2': '51.5145253362314',
  'CT1': '51.511491',
  'CT3': '51.513847178423',
  'CT8': '51.5095436853913',
  'CT6': '51.510499',
  'CR4': '51.374312',
  'CR5': '51.411349',
  'CR3': '51.40401',
  'EA6': '51.53085',
  'EA8': '51.518948',
  'EI8': '51.5189160348806',
  'EA7': '51.508549',
  'EI7': '51.5085164816243',
  'EI2': '51.5058699783726',
  'EI1': '51.5236078191481',
  'EN5': '51.613865',
  'EN1': '51.6450367266602',
  'EN4': '51.614864007',
  'GN0': '51.490532',
  'GR7': '51.472504',
  'GR4': '51.45258',
  'GB6': '51.4563',
  'GB0': '51.4563',
  'GN4': '51.4346627060562',
  'GN2': '51.492571',
  'GN3': '51.486957',
  'GR5': '51.4834490664601',
  'GR9': '51.456357',
  'GR8': '51.486884',
  'HK6': '51.526454',
  'HF4': '51.5045625671557',
  'HG1': '51.599302',
  'HR2': '51.588417',
  'HR1': '51.617327',
  'HV1': '51.520787459334',
  'HV3': '51.572976',
  'LH0': '51.48878',
  'HI0': '51.496309',
  'IS6': '51.557895',
  'IS2': '51.555378',
  'KC2': '51.49550391',
  'KC5': '51.49019756',
  'KC4': '51.48743685',
  'KC3': '51.49913951',
  'KC1': '51.5210467476039',
  'KC7': '51.5210467476039',
  'LB5': '51.4854867739729',
  'LB4': '51.464113541162',
  'LB6': '51.4282131429499',
  'LW1': '51.445468',
  'LW3': '51.4811412184719',
  'LW2': '51.474954',
  'TD5': '51.4252560360937',
  'ME2': '51.4161384794862',
  'ME1': '51.40105',
  'NM2': '51.537598',
  'NM3': '51.514727',
  'RB4': '51.57661',
  'RB1': '51.569221',
  'RI2': '51.476168',
  'RI1': '51.480189',
  'SK5': '51.4804994936467',
  'ST5': '51.389286904505',
  'ST3': '51.365318',
  'ST4': '51.3586596124998',
  'ST6': '51.377923',
  'TH4': '51.5150461674013',
  'TH2': '51.5225294860844',
  'TH1': '51.510012',
  'WA9': '51.4650325059122',
  'WA7': '51.463429',
  'WA8': '51.4637206047191',
  'WA2': '51.456962',
  'WM5': '51.5119769825798',
  'WM0': '51.494681',
  'MY1': '51.52254',
  'MY7': '51.52254',
  'WM6': '51.5139287404213'},
 {'TD0': '-0.345714576446947',
  'BG1': '0.177891',
  'BG2': '0.132857',
  'BX2': '0.158914493927518',
  'BX0': '0.158914493927518',
  'BQ7': '0.137279111232178',
  'BQ8': '0.137279111232178',
  'BX4': '0.190836225974902',
  'BQ6': '0.190836225974902',
  'BQ5': '0.187404883999095',
  'BX1': '0.184877126994369',
  'BX9': '0.184877126994369',
  'BX3': '0.121617',
  'BT4': '-0.258089',
  'BT6': '-0.247793',
  'BT5': '-0.248774',
  'BY7': '0.018882',
  'BL0': '-0.125848',
  'KX4': '-0.129594',
  'CD9': '-0.1287742',
  'CD3': '-0.127027',
  'CD1': '-0.175284',
  'CT4': '-0.0961060474176381',
  'CT2': '-0.104515626337876',
  'CT1': '-0.095807',
  'CT3': '-0.077765681752',
  'CT8': '-0.0873571979556188',
  'CT6': '-0.091634',
  'CR4': '-0.096503',
  'CR5': '-0.12311',
  'CR3': '-0.098814',
  'EA6': '-0.292488',
  'EA8': '-0.265617',
  'EI8': '-0.265652052386222',
  'EA7': '-0.392179',
  'EI7': '-0.392208459173292',
  'EI2': '-0.380241031512669',
  'EI1': '-0.265502631799754',
  'EN5': '-0.125338',
  'EN1': '-0.0661800662229116',
  'EN4': '-0.0507658363689',
  'GN0': '0.074003',
  'GR7': '-0.012381',
  'GR4': '0.070766',
  'GB6': '0.085606',
  'GB0': '0.085606',
  'GN4': '0.0642224671704697',
  'GN2': '0.017697',
  'GN3': '0.095111',
  'GR5': '-0.000145562683198809',
  'GR9': '0.040725',
  'GR8': '0.017901',
  'HK6': '-0.08491',
  'HF4': '-0.224670007031603',
  'HG1': '-0.068218',
  'HR2': '-0.362989',
  'HR1': '-0.298775',
  'HV1': '0.205460705694044',
  'HV3': '0.179079',
  'LH0': '-0.441627',
  'HI0': '-0.460826',
  'IS6': '-0.106989',
  'IS2': '-0.116146',
  'KC2': '-0.178809464',
  'KC5': '-0.190863311',
  'KC4': '-0.168397129',
  'KC3': '-0.164337605',
  'KC1': '-0.213492139585065',
  'KC7': '-0.213492139585065',
  'LB5': '-0.124545234819213',
  'LB4': '-0.11458102695123',
  'LB6': '-0.13186863879576',
  'LW1': '-0.020266',
  'LW3': '-0.0456708566668043',
  'LW2': '-0.039641',
  'TD5': '-0.345608290872898',
  'ME2': '-0.192230805042824',
  'ME1': '-0.195929',
  'NM2': '-0.002138',
  'NM3': '0.014554',
  'RB4': '0.030858',
  'RB1': '0.081821',
  'RI2': '-0.230427',
  'RI1': '-0.237335',
  'SK5': '-0.0595528932573422',
  'ST5': '-0.141661524779893',
  'ST3': '-0.165936',
  'ST4': '-0.149723946604927',
  'ST6': '-0.240414',
  'TH4': '-0.00841849265642741',
  'TH2': '-0.0421550991900347',
  'TH1': '-0.019866',
  'WA9': '-0.215824580947572',
  'WA7': '-0.215871',
  'WA8': '-0.215890144123119',
  'WA2': '-0.191074',
  'WM5': '-0.12162720332856',
  'WM0': '-0.131938',
  'MY1': '-0.15459',
  'MY7': '-0.15459',
  'WM6': '-0.152792701881935'})

In [88]:
site_codes = filtered_sites['SiteCode']
species_codes = ["CO", "NO2", "O3", "PM10", "PM25", "SO2"]

In [142]:
def get_species_data(species):
#     species_data = pd.DataFrame({'Site':[], 'Latitude':[], 'Longitude':[], 'Species':[], 'Date':[], 'AverageValue':[]})
    frames = []
    for site in site_codes:
        url = f"http://api.erg.kcl.ac.uk/AirQuality/Data/SiteSpecies/SiteCode={site}/SpeciesCode={species}/StartDate=2012-05-01/EndDate=2012-10-31/Json"
        response = requests.get(url)
        df = pd.DataFrame(response.json()['RawAQData']['Data'])
        df = df.rename(columns={"@MeasurementDateGMT":"Date", "@Value":"AverageValue"})
        df['Date'] =  pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
        df['AverageValue'] = pd.to_numeric(df['AverageValue'],errors='coerce')
        df = df.resample('D', on='Date').mean()
        df['Site'] = site
#         df['Latitude'] = filtered_sites.loc[filtered_sites['SiteCode'] == site]['Latitude'][0]
#         df['Longitude'] = filtered_sites.loc[filtered_sites['SiteCode'] == site]['Longitude'][0]
        df['Species'] = species
        frames.append(df)
    result = pd.concat(frames)
    return result

In [90]:
url = f"http://api.erg.kcl.ac.uk/AirQuality/Data/SiteSpecies/SiteCode=TD0/SpeciesCode=NO2/StartDate=2012-01-01/EndDate=2012-12-31/Json"
response = requests.get(url)
response.json()

{'RawAQData': {'@SiteCode': 'TD0',
  '@SpeciesCode': 'NO2',
  'Data': [{'@MeasurementDateGMT': '2012-01-01 00:00:00', '@Value': '4.7'},
   {'@MeasurementDateGMT': '2012-01-01 01:00:00', '@Value': ''},
   {'@MeasurementDateGMT': '2012-01-01 02:00:00', '@Value': '5.5'},
   {'@MeasurementDateGMT': '2012-01-01 03:00:00', '@Value': '3.4'},
   {'@MeasurementDateGMT': '2012-01-01 04:00:00', '@Value': '3.4'},
   {'@MeasurementDateGMT': '2012-01-01 05:00:00', '@Value': '3.5'},
   {'@MeasurementDateGMT': '2012-01-01 06:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-01 07:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-01 08:00:00', '@Value': '3.9'},
   {'@MeasurementDateGMT': '2012-01-01 09:00:00', '@Value': '5.4'},
   {'@MeasurementDateGMT': '2012-01-01 10:00:00', '@Value': '4.8'},
   {'@MeasurementDateGMT': '2012-01-01 11:00:00', '@Value': '5.3'},
   {'@MeasurementDateGMT': '2012-01-01 12:00:00', '@Value': '6.8'},
   {'@MeasurementDateGMT': '2012-01-01 13:00:00', '@Value': '7.3'},
   {'@MeasurementDateGMT': '2012-01-01 14:00:00', '@Value': '11.3'},
   {'@MeasurementDateGMT': '2012-01-01 15:00:00', '@Value': '10.8'},
   {'@MeasurementDateGMT': '2012-01-01 16:00:00', '@Value': '15.9'},
   {'@MeasurementDateGMT': '2012-01-01 17:00:00', '@Value': '15.3'},
   {'@MeasurementDateGMT': '2012-01-01 18:00:00', '@Value': '12.4'},
   {'@MeasurementDateGMT': '2012-01-01 19:00:00', '@Value': '10.3'},
   {'@MeasurementDateGMT': '2012-01-01 20:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-01 21:00:00', '@Value': '8.3'},
   {'@MeasurementDateGMT': '2012-01-01 22:00:00', '@Value': '5.8'},
   {'@MeasurementDateGMT': '2012-01-01 23:00:00', '@Value': '5.4'},
   {'@MeasurementDateGMT': '2012-01-02 00:00:00', '@Value': '5.3'},
   {'@MeasurementDateGMT': '2012-01-02 01:00:00', '@Value': '3.3'},
   {'@MeasurementDateGMT': '2012-01-02 02:00:00', '@Value': '4.9'},
   {'@MeasurementDateGMT': '2012-01-02 03:00:00', '@Value': '4.4'},
   {'@MeasurementDateGMT': '2012-01-02 04:00:00', '@Value': '4.9'},
   {'@MeasurementDateGMT': '2012-01-02 05:00:00', '@Value': '3.8'},
   {'@MeasurementDateGMT': '2012-01-02 06:00:00', '@Value': '5.8'},
   {'@MeasurementDateGMT': '2012-01-02 07:00:00', '@Value': '8.3'},
   {'@MeasurementDateGMT': '2012-01-02 08:00:00', '@Value': '11.3'},
   {'@MeasurementDateGMT': '2012-01-02 09:00:00', '@Value': '7.3'},
   {'@MeasurementDateGMT': '2012-01-02 10:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-02 11:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-02 12:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-02 13:00:00', '@Value': '6.8'},
   {'@MeasurementDateGMT': '2012-01-02 14:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-02 15:00:00', '@Value': '8.9'},
   {'@MeasurementDateGMT': '2012-01-02 16:00:00', '@Value': '8.3'},
   {'@MeasurementDateGMT': '2012-01-02 17:00:00', '@Value': '16.8'},
   {'@MeasurementDateGMT': '2012-01-02 18:00:00', '@Value': '17.7'},
   {'@MeasurementDateGMT': '2012-01-02 19:00:00', '@Value': '15.8'},
   {'@MeasurementDateGMT': '2012-01-02 20:00:00', '@Value': '11.3'},
   {'@MeasurementDateGMT': '2012-01-02 21:00:00', '@Value': '13.9'},
   {'@MeasurementDateGMT': '2012-01-02 22:00:00', '@Value': '9.3'},
   {'@MeasurementDateGMT': '2012-01-02 23:00:00', '@Value': '8.4'},
   {'@MeasurementDateGMT': '2012-01-03 00:00:00', '@Value': '9.2'},
   {'@MeasurementDateGMT': '2012-01-03 01:00:00', '@Value': '2.6'},
   {'@MeasurementDateGMT': '2012-01-03 02:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-03 03:00:00', '@Value': '2.4'},
   {'@MeasurementDateGMT': '2012-01-03 04:00:00', '@Value': '2.4'},
   {'@MeasurementDateGMT': '2012-01-03 05:00:00', '@Value': '3'},
   {'@MeasurementDateGMT': '2012-01-03 06:00:00', '@Value': '3'},
   {'@MeasurementDateGMT': '2012-01-03 07:00:00', '@Value': '4.4'},
   {'@MeasurementDateGMT': '2012-01-03 08:00:00', '@Value': '6.8'},
   {'@MeasurementDateGMT': '2012-01-03 09:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-03 10:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-03 11:00:00', '@Value': '6.9'},
   {'@MeasurementDateGMT': '2012-01-03 12:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-03 13:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-03 14:00:00', '@Value': '8.3'},
   {'@MeasurementDateGMT': '2012-01-03 15:00:00', '@Value': '7.8'},
   {'@MeasurementDateGMT': '2012-01-03 16:00:00', '@Value': '9.4'},
   {'@MeasurementDateGMT': '2012-01-03 17:00:00', '@Value': '10.4'},
   {'@MeasurementDateGMT': '2012-01-03 18:00:00', '@Value': '10.9'},
   {'@MeasurementDateGMT': '2012-01-03 19:00:00', '@Value': '11.9'},
   {'@MeasurementDateGMT': '2012-01-03 20:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-03 21:00:00', '@Value': '10.9'},
   {'@MeasurementDateGMT': '2012-01-03 22:00:00', '@Value': '5.3'},
   {'@MeasurementDateGMT': '2012-01-03 23:00:00', '@Value': '3.9'},
   {'@MeasurementDateGMT': '2012-01-04 00:00:00', '@Value': '3.9'},
   {'@MeasurementDateGMT': '2012-01-04 01:00:00', '@Value': '2.6'},
   {'@MeasurementDateGMT': '2012-01-04 02:00:00', '@Value': '1.9'},
   {'@MeasurementDateGMT': '2012-01-04 03:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-04 04:00:00', '@Value': '3.5'},
   {'@MeasurementDateGMT': '2012-01-04 05:00:00', '@Value': '4.4'},
   {'@MeasurementDateGMT': '2012-01-04 06:00:00', '@Value': '7.9'},
   {'@MeasurementDateGMT': '2012-01-04 07:00:00', '@Value': '17.2'},
   {'@MeasurementDateGMT': '2012-01-04 08:00:00', '@Value': '22.7'},
   {'@MeasurementDateGMT': '2012-01-04 09:00:00', '@Value': '41.5'},
   {'@MeasurementDateGMT': '2012-01-04 10:00:00', '@Value': '17.2'},
   {'@MeasurementDateGMT': '2012-01-04 11:00:00', '@Value': '13.9'},
   {'@MeasurementDateGMT': '2012-01-04 12:00:00', '@Value': '18.6'},
   {'@MeasurementDateGMT': '2012-01-04 13:00:00', '@Value': '15.8'},
   {'@MeasurementDateGMT': '2012-01-04 14:00:00', '@Value': '12.3'},
   {'@MeasurementDateGMT': '2012-01-04 15:00:00', '@Value': '10.8'},
   {'@MeasurementDateGMT': '2012-01-04 16:00:00', '@Value': '11.9'},
   {'@MeasurementDateGMT': '2012-01-04 17:00:00', '@Value': '11.4'},
   {'@MeasurementDateGMT': '2012-01-04 18:00:00', '@Value': '8.8'},
   {'@MeasurementDateGMT': '2012-01-04 19:00:00', '@Value': '7.3'},
   {'@MeasurementDateGMT': '2012-01-04 20:00:00', '@Value': '6.8'},
   {'@MeasurementDateGMT': '2012-01-04 21:00:00', '@Value': '4.9'},
   {'@MeasurementDateGMT': '2012-01-04 22:00:00', '@Value': '3.5'},
   {'@MeasurementDateGMT': '2012-01-04 23:00:00', '@Value': '1.9'},
   {'@MeasurementDateGMT': '2012-01-05 00:00:00', '@Value': ''},
   {'@MeasurementDateGMT': '2012-01-05 01:00:00', '@Value': ''},
   {'@MeasurementDateGMT': '2012-01-05 02:00:00', '@Value': ''},
   {'@MeasurementDateGMT': '2012-01-05 03:00:00', '@Value': ''},
   {'@MeasurementDateGMT': '2012-01-05 04:00:00', '@Value': '3'},
   {'@MeasurementDateGMT': '2012-01-05 05:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-05 06:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-05 07:00:00', '@Value': '7.9'},
   {'@MeasurementDateGMT': '2012-01-05 08:00:00', '@Value': '10.3'},
   {'@MeasurementDateGMT': '2012-01-05 09:00:00', '@Value': '13.8'},
   {'@MeasurementDateGMT': '2012-01-05 10:00:00', '@Value': '11.3'},
   {'@MeasurementDateGMT': '2012-01-05 11:00:00', '@Value': '10.3'},
   {'@MeasurementDateGMT': '2012-01-05 12:00:00', '@Value': '8.9'},
   {'@MeasurementDateGMT': '2012-01-05 13:00:00', '@Value': '15.7'},
   {'@MeasurementDateGMT': '2012-01-05 14:00:00', '@Value': '14.8'},
   {'@MeasurementDateGMT': '2012-01-05 15:00:00', '@Value': '16.3'},
   {'@MeasurementDateGMT': '2012-01-05 16:00:00', '@Value': '22.1'},
   {'@MeasurementDateGMT': '2012-01-05 17:00:00', '@Value': '22.7'},
   {'@MeasurementDateGMT': '2012-01-05 18:00:00', '@Value': '25.6'},
   {'@MeasurementDateGMT': '2012-01-05 19:00:00', '@Value': '28.6'},
   {'@MeasurementDateGMT': '2012-01-05 20:00:00', '@Value': '23.7'},
   {'@MeasurementDateGMT': '2012-01-05 21:00:00', '@Value': '21.2'},
   {'@MeasurementDateGMT': '2012-01-05 22:00:00', '@Value': '14.7'},
   {'@MeasurementDateGMT': '2012-01-05 23:00:00', '@Value': '24.1'},
   {'@MeasurementDateGMT': '2012-01-06 00:00:00', '@Value': '9.9'},
   {'@MeasurementDateGMT': '2012-01-06 01:00:00', '@Value': '7.2'},
   {'@MeasurementDateGMT': '2012-01-06 02:00:00', '@Value': '6.8'},
   {'@MeasurementDateGMT': '2012-01-06 03:00:00', '@Value': '7.3'},
   {'@MeasurementDateGMT': '2012-01-06 04:00:00', '@Value': '10.3'},
   {'@MeasurementDateGMT': '2012-01-06 05:00:00', '@Value': '17.7'},
   {'@MeasurementDateGMT': '2012-01-06 06:00:00', '@Value': '29.1'},
   {'@MeasurementDateGMT': '2012-01-06 07:00:00', '@Value': '58.3'},
   {'@MeasurementDateGMT': '2012-01-06 08:00:00', '@Value': '59.7'},
   {'@MeasurementDateGMT': '2012-01-06 09:00:00', '@Value': '53.2'},
   {'@MeasurementDateGMT': '2012-01-06 10:00:00', '@Value': '32.5'},
   {'@MeasurementDateGMT': '2012-01-06 11:00:00', '@Value': '26.1'},
   {'@MeasurementDateGMT': '2012-01-06 12:00:00', '@Value': '24.5'},
   {'@MeasurementDateGMT': '2012-01-06 13:00:00', '@Value': '21.1'},
   {'@MeasurementDateGMT': '2012-01-06 14:00:00', '@Value': '17.8'},
   {'@MeasurementDateGMT': '2012-01-06 15:00:00', '@Value': '25.1'},
   {'@MeasurementDateGMT': '2012-01-06 16:00:00', '@Value': '30.6'},
   {'@MeasurementDateGMT': '2012-01-06 17:00:00', '@Value': '30.6'},
   {'@MeasurementDateGMT': '2012-01-06 18:00:00', '@Value': '24.2'},
   {'@MeasurementDateGMT': '2012-01-06 19:00:00', '@Value': '20.7'},
   {'@MeasurementDateGMT': '2012-01-06 20:00:00', '@Value': '13.7'},
   {'@MeasurementDateGMT': '2012-01-06 21:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-06 22:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-06 23:00:00', '@Value': '6.3'},
   {'@MeasurementDateGMT': '2012-01-07 00:00:00', '@Value': ''},
   {'@MeasurementDateGMT': '2012-01-07 01:00:00', '@Value': '2.5'},
   {'@MeasurementDateGMT': '2012-01-07 02:00:00', '@Value': '4.4'},
   {'@MeasurementDateGMT': '2012-01-07 03:00:00', '@Value': '3.9'},
   {'@MeasurementDateGMT': '2012-01-07 04:00:00', '@Value': '3.9'},
   {'@MeasurementDateGMT': '2012-01-07 05:00:00', '@Value': '4.4'},
   {'@MeasurementDateGMT': '2012-01-07 06:00:00', '@Value': '6.4'},
   {'@MeasurementDateGMT': '2012-01-07 07:00:00', '@Value': '7.8'},
   {'@MeasurementDateGMT': '2012-01-07 08:00:00', '@Value': '7.8'},
   {'@MeasurementDateGMT': '2012-01-07 09:00:00', '@Value': '8.4'},
   {'@MeasurementDateGMT': '2012-01-07 10:00:00', '@Value': '10.3'},
   {'@MeasurementDateGMT': '2012-01-07 11:00:00', '@Value': '8.3'},
   {'@MeasurementDateGMT': '2012-01-07 12:00:00', '@Value': '8.9'},
   {'@MeasurementDateGMT': '2012-01-07 13:00:00', '@Value': '9.3'},
   {'@MeasurementDateGMT': '2012-01-07 14:00:00', '@Value': '10.8'},
   {'@MeasurementDateGMT': '2012-01-07 15:00:00', '@Value': '14.8'},
   {'@MeasurementDateGMT': '2012-01-07 16:00:00', '@Value': '15.3'},
   {'@MeasurementDateGMT': '2012-01-07 17:00:00', '@Value': '26.6'},
   {'@MeasurementDateGMT': '2012-01-07 18:00:00', '@Value': '23.7'},
   {'@MeasurementDateGMT': '2012-01-07 19:00:00', '@Value': '20.7'},
   {'@MeasurementDateGMT': '2012-01-07 20:00:00', '@Value': '16.3'},
   {'@MeasurementDateGMT': '2012-01-07 21:00:00', '@Value': '12.3'},
   {'@MeasurementDateGMT': '2012-01-07 22:00:00', '@Value': '9.8'},
   {'@MeasurementDateGMT': '2012-01-07 23:00:00', '@Value': '10.8'},
   {'@MeasurementDateGMT': '2012-01-08 00:00:00', '@Value': '11.2'},
   {'@MeasurementDateGMT': '2012-01-08 01:00:00', '@Value': '6.4'},
   {'@MeasurementDateGMT': '2012-01-08 02:00:00', '@Value': '5.4'},
   {'@MeasurementDateGMT': '2012-01-08 03:00:00', '@Value': '4.5'},
   {'@MeasurementDateGMT': '2012-01-08 04:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-08 05:00:00', '@Value': '4.9'},
   {'@MeasurementDateGMT': '2012-01-08 06:00:00', '@Value': '6.8'},
   {'@MeasurementDateGMT': '2012-01-08 07:00:00', '@Value': '8.9'},
   {'@MeasurementDateGMT': '2012-01-08 08:00:00', '@Value': '21.8'},
   {'@MeasurementDateGMT': '2012-01-08 09:00:00', '@Value': '17.7'},
   {'@MeasurementDateGMT': '2012-01-08 10:00:00', '@Value': '20.7'},
   {'@MeasurementDateGMT': '2012-01-08 11:00:00', '@Value': '23.7'},
   {'@MeasurementDateGMT': '2012-01-08 12:00:00', '@Value': '18.7'},
   {'@MeasurementDateGMT': '2012-01-08 13:00:00', '@Value': '15.7'},
   {'@MeasurementDateGMT': '2012-01-08 14:00:00', '@Value': '14.7'},
   {'@MeasurementDateGMT': '2012-01-08 15:00:00', '@Value': '13.8'},
   {'@MeasurementDateGMT': '2012-01-08 16:00:00', '@Value': '21.7'},
   {'@MeasurementDateGMT': '2012-01-08 17:00:00', '@Value': '29.1'},
   {'@MeasurementDateGMT': '2012-01-08 18:00:00', '@Value': '33.6'},
   {'@MeasurementDateGMT': '2012-01-08 19:00:00', '@Value': '28.6'},
   {'@MeasurementDateGMT': '2012-01-08 20:00:00', '@Value': '32.2'},
   {'@MeasurementDateGMT': '2012-01-08 21:00:00', '@Value': '29.6'},
   {'@MeasurementDateGMT': '2012-01-08 22:00:00', '@Value': '31.6'},
   {'@MeasurementDateGMT': '2012-01-08 23:00:00', '@Value': '28.5'},
   {'@MeasurementDateGMT': '2012-01-09 00:00:00', '@Value': '21.2'},
   {'@MeasurementDateGMT': '2012-01-09 01:00:00', '@Value': '19.9'},
   {'@MeasurementDateGMT': '2012-01-09 02:00:00', '@Value': '18.4'},
   {'@MeasurementDateGMT': '2012-01-09 03:00:00', '@Value': '12.9'},
   {'@MeasurementDateGMT': '2012-01-09 04:00:00', '@Value': '9.5'},
   {'@MeasurementDateGMT': '2012-01-09 05:00:00', '@Value': '8.5'},
   {'@MeasurementDateGMT': '2012-01-09 06:00:00', '@Value': '11.9'},
   {'@MeasurementDateGMT': '2012-01-09 07:00:00', '@Value': '18.8'},
   {'@MeasurementDateGMT': '2012-01-09 08:00:00', '@Value': '18.9'},
   {'@MeasurementDateGMT': '2012-01-09 09:00:00', '@Value': '22.8'},
   {'@MeasurementDateGMT': '2012-01-09 10:00:00', '@Value': '21.7'},
   {'@MeasurementDateGMT': '2012-01-09 11:00:00', '@Value': '21.2'},
   {'@MeasurementDateGMT': '2012-01-09 12:00:00', '@Value': '28'},
   {'@MeasurementDateGMT': '2012-01-09 13:00:00', '@Value': '18.7'},
   {'@MeasurementDateGMT': '2012-01-09 14:00:00', '@Value': '14.9'},
   {'@MeasurementDateGMT': '2012-01-09 15:00:00', '@Value': '19.8'},
   {'@MeasurementDateGMT': '2012-01-09 16:00:00', '@Value': '25.3'},
   {'@MeasurementDateGMT': '2012-01-09 17:00:00', '@Value': '26.8'},
   {'@MeasurementDateGMT': '2012-01-09 18:00:00', '@Value': '33.2'},
   {'@MeasurementDateGMT': '2012-01-09 19:00:00', '@Value': '25.3'},
   {'@MeasurementDateGMT': '2012-01-09 20:00:00', '@Value': '25.8'},
   {'@MeasurementDateGMT': '2012-01-09 21:00:00', '@Value': '28.3'},
   {'@MeasurementDateGMT': '2012-01-09 22:00:00', '@Value': '27.8'},
   {'@MeasurementDateGMT': '2012-01-09 23:00:00', '@Value': '18.8'},
   {'@MeasurementDateGMT': '2012-01-10 00:00:00', '@Value': '14.5'},
   {'@MeasurementDateGMT': '2012-01-10 01:00:00', '@Value': '14.6'},
   {'@MeasurementDateGMT': '2012-01-10 02:00:00', '@Value': '12.3'},
   {'@MeasurementDateGMT': '2012-01-10 03:00:00', '@Value': '12.9'},
   {'@MeasurementDateGMT': '2012-01-10 04:00:00', '@Value': '8.9'},
   {'@MeasurementDateGMT': '2012-01-10 05:00:00', '@Value': '7.5'},
   {'@MeasurementDateGMT': '2012-01-10 06:00:00', '@Value': '10.9'},
   {'@MeasurementDateGMT': '2012-01-10 07:00:00', '@Value': '23.9'},
   {'@MeasurementDateGMT': '2012-01-10 08:00:00', '@Value': '34.2'},
   {'@MeasurementDateGMT': '2012-01-10 09:00:00', '@Value': '38.5'},
   {'@MeasurementDateGMT': '2012-01-10 10:00:00', '@Value': '24.2'},
   {'@MeasurementDateGMT': '2012-01-10 11:00:00', '@Value': '21.8'},
   {'@MeasurementDateGMT': '2012-01-10 12:00:00', '@Value': '19.8'},
   {'@MeasurementDateGMT': '2012-01-10 13:00:00', '@Value': '17.4'},
   {'@MeasurementDateGMT': '2012-01-10 14:00:00', '@Value': '20.2'},
   {'@MeasurementDateGMT': '2012-01-10 15:00:00', '@Value': '21.3'},
   {'@MeasurementDateGMT': '2012-01-10 16:00:00', '@Value': '24.8'},
   {'@MeasurementDateGMT': '2012-01-10 17:00:00', '@Value': '25.8'},
   {'@MeasurementDateGMT': '2012-01-10 18:00:00', '@Value': '30.3'},
   {'@MeasurementDateGMT': '2012-01-10 19:00:00', '@Value': '30.3'},
   {'@MeasurementDateGMT': '2012-01-10 20:00:00', '@Value': '20.8'},
   {'@MeasurementDateGMT': '2012-01-10 21:00:00', '@Value': '13.9'},
   {'@MeasurementDateGMT': '2012-01-10 22:00:00', '@Value': '12.4'},
   {'@MeasurementDateGMT': '2012-01-10 23:00:00', '@Value': '10.4'},
   {'@MeasurementDateGMT': '2012-01-11 00:00:00', '@Value': '11.9'},
   {'@MeasurementDateGMT': '2012-01-11 01:00:00', '@Value': '6.6'},
   {'@MeasurementDateGMT': '2012-01-11 02:00:00', '@Value': '5.5'},
   {'@MeasurementDateGMT': '2012-01-11 03:00:00', '@Value': '5.9'},
   {'@MeasurementDateGMT': '2012-01-11 04:00:00', '@Value': '5.5'},
   {'@MeasurementDateGMT': '2012-01-11 05:00:00', '@Value': '7.4'},
   {'@MeasurementDateGMT': '2012-01-11 06:00:00', '@Value': '11.9'},
   {'@MeasurementDateGMT': '2012-01-11 07:00:00', '@Value': '25.3'},
   {'@MeasurementDateGMT': '2012-01-11 08:00:00', '@Value': '43.1'},
   {'@MeasurementDateGMT': '2012-01-11 09:00:00', '@Value': '42.5'},
   {'@MeasurementDateGMT': '2012-01-11 10:00:00', '@Value': '29.1'},
   {'@MeasurementDateGMT': '2012-01-11 11:00:00', '@Value': '21.7'},
   {'@MeasurementDateGMT': '2012-01-11 12:00:00', '@Value': '19.3'},
   {'@MeasurementDateGMT': '2012-01-11 13:00:00', '@Value': '24.2'},
   {'@MeasurementDateGMT': '2012-01-11 14:00:00', '@Value': '26.2'},
   {'@MeasurementDateGMT': '2012-01-11 15:00:00', '@Value': '30.2'},
   {'@MeasurementDateGMT': '2012-01-11 16:00:00', '@Value': '35.7'},
   {'@MeasurementDateGMT': '2012-01-11 17:00:00', '@Value': '33.2'},
   {'@MeasurementDateGMT': '2012-01-11 18:00:00', '@Value': '31.7'},
   {'@MeasurementDateGMT': '2012-01-11 19:00:00', '@Value': '27.3'},
   {'@MeasurementDateGMT': '2012-01-11 20:00:00', '@Value': '24.4'},
   {'@MeasurementDateGMT': '2012-01-11 21:00:00', '@Value': '21.4'},
   {'@MeasurementDateGMT': '2012-01-11 22:00:00', '@Value': '17.9'},
   {'@MeasurementDateGMT': '2012-01-11 23:00:00', '@Value': '16.4'},
   {'@MeasurementDateGMT': '2012-01-12 00:00:00', '@Value': '15.2'},
   {'@MeasurementDateGMT': '2012-01-12 01:00:00', '@Value': '11.2'},
   {'@MeasurementDateGMT': '2012-01-12 02:00:00', '@Value': '9.5'},
   {'@MeasurementDateGMT': '2012-01-12 03:00:00', '@Value': '6.9'},
   {'@MeasurementDateGMT': '2012-01-12 04:00:00', '@Value': '5.9'},
   {'@MeasurementDateGMT': '2012-01-12 05:00:00', '@Value': '4'},
   {'@MeasurementDateGMT': '2012-01-12 06:00:00', '@Value': '7.4'},
   {'@MeasurementDateGMT': '2012-01-12 07:00:00', '@Value': '10.4'},
   {'@MeasurementDateGMT': '2012-01-12 08:00:00', '@Value': '14.9'},
   {'@MeasurementDateGMT': '2012-01-12 09:00:00', '@Value': '18'},
   {'@MeasurementDateGMT': '2012-01-12 10:00:00', '@Value': '18.7'},
   {'@MeasurementDateGMT': '2012-01-12 11:00:00', '@Value': '18.3'},
   {'@MeasurementDateGMT': '2012-01-12 12:00:00', '@Value': '12.3'},
   {'@MeasurementDateGMT': '2012-01-12 13:00:00', '@Value': '13.4'},
   {'@MeasurementDateGMT': '2012-01-12 14:00:00', '@Value': '16.3'},
   {'@MeasurementDateGMT': '2012-01-12 15:00:00', '@Value': '23.2'},
   {'@MeasurementDateGMT': '2012-01-12 16:00:00', '@Value': '51.4'},
   {'@MeasurementDateGMT': '2012-01-12 17:00:00', '@Value': '53.4'},
   {'@MeasurementDateGMT': '2012-01-12 18:00:00', '@Value': '64.3'},
   {'@MeasurementDateGMT': '2012-01-12 19:00:00', '@Value': '54.9'},
   {'@MeasurementDateGMT': '2012-01-12 20:00:00', '@Value': '44.6'},
   {'@MeasurementDateGMT': '2012-01-12 21:00:00', '@Value': '48.5'},
   {'@MeasurementDateGMT': '2012-01-12 22:00:00', '@Value': '53.9'},
   {'@MeasurementDateGMT': '2012-01-12 23:00:00', '@Value': '65.2'},
   {'@MeasurementDateGMT': '2012-01-13 00:00:00', '@Value': '58.7'},
   {'@MeasurementDateGMT': '2012-01-13 01:00:00', '@Value': '51.4'},
   {'@MeasurementDateGMT': '2012-01-13 02:00:00', '@Value': '45.4'},

In [98]:
df = pd.DataFrame(response.json()['RawAQData']['Data'])

In [117]:
species = "NO2"
df = df.rename(columns={"@MeasurementDateGMT":"Date", "@Value":f"{species} Value"})
df

                    Date  NO2 Value
0    2012-01-01 00:00:00        4.7
1    2012-01-01 01:00:00        NaN
2    2012-01-01 02:00:00        5.5
3    2012-01-01 03:00:00        3.4
4    2012-01-01 04:00:00        3.4
...                  ...        ...
8755 2012-12-30 19:00:00       30.7
8756 2012-12-30 20:00:00       29.5
8757 2012-12-30 21:00:00       25.8
8758 2012-12-30 22:00:00       25.3
8759 2012-12-30 23:00:00       24.2

[8760 rows x 2 columns]

In [118]:
df['Date'] =  pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

In [119]:
df['NO2 Value'] = pd.to_numeric(df['NO2 Value'],errors='coerce')

In [125]:
df1 = df.resample('D', on='Date').mean()
df1.sort_values(by="NO2 Value")

            NO2 Value
Date
2012-01-03   6.895833
2012-01-01   7.273913
2012-01-21   8.104167
2012-01-02   8.404167
2012-01-04  10.612500
...               ...
2012-10-18        NaN
2012-10-19        NaN
2012-10-20        NaN
2012-10-21        NaN
2012-10-22        NaN

[365 rows x 1 columns]

In [130]:
df1['Site'] = "TD0"

In [131]:
df1

            NO2 Value Site
Date
2012-01-01   7.273913  TD0
2012-01-02   8.404167  TD0
2012-01-03   6.895833  TD0
2012-01-04  10.612500  TD0
2012-01-05  15.150000  TD0
...               ...  ...
2012-12-26  33.283333  TD0
2012-12-27  30.695833  TD0
2012-12-28  34.833333  TD0
2012-12-29  29.191667  TD0
2012-12-30  28.387500  TD0

[365 rows x 2 columns]

In [141]:
! python --version

Python 3.7.4

In [143]:
CO_data = get_species_data("CO")
CO_data

            AverageValue Site Species
Date
2012-05-01           NaN  TD0      CO
2012-05-02           NaN  TD0      CO
2012-05-03           NaN  TD0      CO
2012-05-04           NaN  TD0      CO
2012-05-05           NaN  TD0      CO
...                  ...  ...     ...
2012-10-26           NaN  WM6      CO
2012-10-27           NaN  WM6      CO
2012-10-28           NaN  WM6      CO
2012-10-29           NaN  WM6      CO
2012-10-30           NaN  WM6      CO

[18483 rows x 3 columns]

In [151]:
CO_data_copy = CO_data

In [153]:
CO_data_copy['Latitude'] = CO_data_copy['Site'].map(latDict)
CO_data_copy

            AverageValue Site Species          Latitude
Date
2012-05-01           NaN  TD0      CO  51.4243043441456
2012-05-02           NaN  TD0      CO  51.4243043441456
2012-05-03           NaN  TD0      CO  51.4243043441456
2012-05-04           NaN  TD0      CO  51.4243043441456
2012-05-05           NaN  TD0      CO  51.4243043441456
...                  ...  ...     ...               ...
2012-10-26           NaN  WM6      CO  51.5139287404213
2012-10-27           NaN  WM6      CO  51.5139287404213
2012-10-28           NaN  WM6      CO  51.5139287404213
2012-10-29           NaN  WM6      CO  51.5139287404213
2012-10-30           NaN  WM6      CO  51.5139287404213

[18483 rows x 4 columns]

In [154]:
CO_data_copy['Longitude'] = CO_data_copy['Site'].map(lonDict)
CO_data_copy

            AverageValue Site Species          Latitude           Longitude
Date
2012-05-01           NaN  TD0      CO  51.4243043441456  -0.345714576446947
2012-05-02           NaN  TD0      CO  51.4243043441456  -0.345714576446947
2012-05-03           NaN  TD0      CO  51.4243043441456  -0.345714576446947
2012-05-04           NaN  TD0      CO  51.4243043441456  -0.345714576446947
2012-05-05           NaN  TD0      CO  51.4243043441456  -0.345714576446947
...                  ...  ...     ...               ...                 ...
2012-10-26           NaN  WM6      CO  51.5139287404213  -0.152792701881935
2012-10-27           NaN  WM6      CO  51.5139287404213  -0.152792701881935
2012-10-28           NaN  WM6      CO  51.5139287404213  -0.152792701881935
2012-10-29           NaN  WM6      CO  51.5139287404213  -0.152792701881935
2012-10-30           NaN  WM6      CO  51.5139287404213  -0.152792701881935

[18483 rows x 5 columns]

In [155]:
CO_data_copy = CO_data_copy[['Site', 'Latitude', 'Longitude', 'Species', 'Date', 'AverageValue']]
CO_data_copy

KeyError: "['Date'] not in index"

In [158]:
CO_data_copy.to_csv('CO-data.csv')

In [159]:
NO2_data = get_species_data("NO2")
NO2_data

            AverageValue Site Species
Date
2012-05-01     24.775000  TD0     NO2
2012-05-02     24.633333  TD0     NO2
2012-05-03     32.216667  TD0     NO2
2012-05-04     33.066667  TD0     NO2
2012-05-05     21.504167  TD0     NO2
...                  ...  ...     ...
2012-10-26           NaN  WM6     NO2
2012-10-27           NaN  WM6     NO2
2012-10-28           NaN  WM6     NO2
2012-10-29           NaN  WM6     NO2
2012-10-30           NaN  WM6     NO2

[18483 rows x 3 columns]

In [163]:
NO2_data

            AverageValue Site Species
Date
2012-05-01     24.775000  TD0     NO2
2012-05-02     24.633333  TD0     NO2
2012-05-03     32.216667  TD0     NO2
2012-05-04     33.066667  TD0     NO2
2012-05-05     21.504167  TD0     NO2
...                  ...  ...     ...
2012-10-26           NaN  WM6     NO2
2012-10-27           NaN  WM6     NO2
2012-10-28           NaN  WM6     NO2
2012-10-29           NaN  WM6     NO2
2012-10-30           NaN  WM6     NO2

[18483 rows x 3 columns]

In [162]:
def clean_and_export(df, species):
    df['Latitude'] = df['Site'].map(latDict)
    df['Longitude'] = df['Site'].map(lonDict)
    df.to_csv(species + '-data.csv')

In [164]:
clean_and_export(NO2_data, "NO2")

In [165]:
O3_data = get_species_data("O3")
O3_data

            AverageValue Site Species
Date
2012-05-01     53.695833  TD0      O3
2012-05-02     45.675000  TD0      O3
2012-05-03     44.795833  TD0      O3
2012-05-04     46.300000  TD0      O3
2012-05-05     60.604167  TD0      O3
...                  ...  ...     ...
2012-10-26           NaN  WM6      O3
2012-10-27           NaN  WM6      O3
2012-10-28           NaN  WM6      O3
2012-10-29           NaN  WM6      O3
2012-10-30           NaN  WM6      O3

[18483 rows x 3 columns]

In [166]:
clean_and_export(O3_data, "O3")

In [168]:
PM10_data = get_species_data("PM10")
PM10_data

            AverageValue Site Species
Date
2012-05-01           NaN  TD0    PM10
2012-05-02           NaN  TD0    PM10
2012-05-03           NaN  TD0    PM10
2012-05-04           NaN  TD0    PM10
2012-05-05           NaN  TD0    PM10
...                  ...  ...     ...
2012-10-26           NaN  WM6    PM10
2012-10-27           NaN  WM6    PM10
2012-10-28           NaN  WM6    PM10
2012-10-29           NaN  WM6    PM10
2012-10-30           NaN  WM6    PM10

[18483 rows x 3 columns]

In [169]:
clean_and_export(PM10_data, "PM10")

In [170]:
PM25_data = get_species_data("PM25")
PM25_data

            AverageValue Site Species
Date
2012-05-01     11.875000  TD0    PM25
2012-05-02     19.125000  TD0    PM25
2012-05-03      8.041667  TD0    PM25
2012-05-04      9.208333  TD0    PM25
2012-05-05      4.000000  TD0    PM25
...                  ...  ...     ...
2012-10-26           NaN  WM6    PM25
2012-10-27           NaN  WM6    PM25
2012-10-28           NaN  WM6    PM25
2012-10-29           NaN  WM6    PM25
2012-10-30           NaN  WM6    PM25

[18483 rows x 3 columns]

In [171]:
clean_and_export(PM25_data, "PM25")

In [172]:
SO2_data = get_species_data("SO2")
SO2_data

            AverageValue Site Species
Date
2012-05-01           NaN  TD0     SO2
2012-05-02           NaN  TD0     SO2
2012-05-03           NaN  TD0     SO2
2012-05-04           NaN  TD0     SO2
2012-05-05           NaN  TD0     SO2
...                  ...  ...     ...
2012-10-26           NaN  WM6     SO2
2012-10-27           NaN  WM6     SO2
2012-10-28           NaN  WM6     SO2
2012-10-29           NaN  WM6     SO2
2012-10-30           NaN  WM6     SO2

[18483 rows x 3 columns]

In [173]:
clean_and_export(SO2_data, "SO2")